# This project is tested and developed with Python 3.10.
# It is recommended to use a Python 3.10 virtual environment to install these packages.

fastapi
uvicorn[standard]
python-multipart
opencv-python
tensorflow
mediapipe
